<div class="container flex-container">
  <div class="flex-element" *ngFor="let robot of robots">
    <div class="robot" *ngIf="robot != null">
      <p>ID: {{robot.robotId}}</p>
      <p>Name: {{robot.robotName}}</p>
      <p>OprsStack: {{robot.oprsStack}}</p>
      <p>Color: {{robot.teamColor}}</p>
    </div>
  </div>
</div>

<mat-form-field>
  <mat-label>Robot</mat-label>
  <mat-select (selectionChange)="setRobotID($event)">
    <div *ngFor="let rob of robots">
      <div *ngIf="rob != null">
        <mat-option [value]="rob.robotId">{{rob.robotId}}</mat-option>
      </div>
    </div>

  </mat-select>

</mat-form-field>

<mat-form-field>
  <mat-label>Task...</mat-label>
  <mat-select (selectionChange)="setTask($event)">
    <div *ngFor="let t of allTasks">
      <mat-option [value]="t">{{t}}</mat-option>
    </div>
    <!--mat-option value="GetBaseFromShelf">GetBaseFromShelf</mat-option-->
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="curTask!='MoveToZone'">
  <mat-label>
    Machine
  </mat-label>
  <mat-select (selectionChange)="setMachine($event)">
    <div *ngIf="curTask==='GetBaseFromShelf' || curTask==='GetBaseFromCS' || curTask==='DeliverBaseToCS'">
      <mat-option value="CS1">CS1</mat-option>
      <mat-option value="CS2">CS2</mat-option>
    </div>
    <div *ngIf="curTask==='GetBaseFromMachine' || curTask==='DeliverBaseToMachine'">
      <mat-option value="BS">BS</mat-option>
    </div>
    <div *ngIf="curTask==='DeliverBaseToDS'">
      <mat-option value="DS">DS</mat-option>
    </div>
    <div *ngIf="curTask==='MoveToZone'">
      <mat-option value="DS">DS</mat-option>
    </div>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="curTask==='MoveToZone'">
  <mat-label>
    Zone just testing now... TODO add field where we can click? Made with a for loop.... Just an idea
  </mat-label>
  <mat-select (selectionChange)="setZone($event)">
    <div>
      <mat-option value="M_Z22">M_Z22</mat-option>
      <mat-option value="C_Z22">C_Z22</mat-option>
    </div>
  </mat-select>
</mat-form-field>

<button (click)="sendTask()">Send Task</button>
