<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Select file to load</mat-label>
      <mat-select (selectionChange)="onSelectFile($event)">
        <mat-option *ngFor="let file of files" [value]="file">
          {{file}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col step">Step: {{currentIndex}} of {{currentData.length}}</div>
  <div class="col" *ngIf="currentData.length > currentIndex">GameTime:
    {{currentData[currentIndex].gameState.gameTimeNanoSeconds / 1000000000 | minuteSeconds}}
  </div>
  <div class="col">
    <button mat-raised-button (click)="back()">Step back</button>
  </div>
  <div class="col">
    <button color="primary" mat-raised-button (click)="step()">Step</button>
  </div>
</div>
