<p>Id: {{data.productOrder.id}} Complexity: {{data.productOrder.complexity}}</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id</th>
    <td [ngClass]="{
    'tbd': element.state === 'TBD',
    'inwork': element.state === 'INWORK',
    'assigned': element.state === 'ASSIGNED',
    'success': element.state === 'SUCCESS',
    'failed': element.state === 'FAILED'
        }" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td [ngClass]="{
    'tbd': element.state === 'TBD',
    'inwork': element.state === 'INWORK',
    'assigned': element.state === 'ASSIGNED',
    'success': element.state === 'SUCCESS',
    'failed': element.state === 'FAILED'
        }" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="machine">
    <th mat-header-cell *matHeaderCellDef> Machine</th>
    <td [ngClass]="{
    'tbd': element.state === 'TBD',
    'inwork': element.state === 'INWORK',
    'assigned': element.state === 'ASSIGNED',
    'success': element.state === 'SUCCESS',
    'failed': element.state === 'FAILED'
        }" mat-cell *matCellDef="let element"> {{element.machine}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="robotId">
    <th mat-header-cell *matHeaderCellDef> RobotId</th>
    <td [ngClass]="{
    'tbd': element.state === 'TBD',
    'inwork': element.state === 'INWORK',
    'assigned': element.state === 'ASSIGNED',
    'success': element.state === 'SUCCESS',
    'failed': element.state === 'FAILED'
        }" mat-cell *matCellDef="let element"><p class="robotId">{{element.robotId}}</p></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


