.example-tree-invisible
  display: none

.example-tree ul, li
  margin-top: 0
  margin-bottom: 0
  list-style-type: none

.inwork
  background: greenyellow

.success
  background: green

mat-tree
  padding-right: 10px
